# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://<username>:<password>@<host>:<port>/postgres"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<publishable_key>
CLERK_SECRET_KEY=<secret_key>

